body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
}

.container{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px black;
}

h1, h2, h3{
  text-align: center;
}

.search-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

#city-input{
  padding: 10px;
  font-size: 18px;
}

button{
  padding: 10px;
  font-size: 18px;
  background-color: rgb(85, 85, 240);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

#suggestions{
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: relative;
  z-index: 10;
}

#suggestions div{
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover{
  background-color: #eee;
}