#refistrationForm{
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.formGroup{
  margin-bottom: 15px;
}

label{
  display: block;
  margin-bottom: 5px;
}

input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

button{
  padding: 10px;
  background-color: rgb(4, 145, 37);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-style: 17px;
}